*{
	font-family: 'Playfair Display', serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	text-align: justify;
}
#Blog-title{
	text-align: center;
}
a{
	color: #000;
}
a:hover{
	color: #000;

}
p{
	font-size: 24px;
}
.container{
	width: 70%;
}